html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;

  color: #ffffffde;
  background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

button:hover {
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.form-control label {
  margin: 0 0 4px 0;
}

input {
  min-height: 30px;
  padding: 0 16px;
  border: #000;
  border-radius: 4px;
}